@import 'src/assets/css/root.scss';

.atc-week-days {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;  
    padding: 6px;
}

.atc-week-days > label {
    @include ats-fs('accent');
}
