<div class="d-flex justify-content-end mb-2">
  <button class="btn btn-outline-secondary" (click)="addExd()">Add</button>
</div>

<form [formGroup]="formGroup">
  <div formArrayName="exdsArray">
    <div class="row no-gutters" *ngFor="let exd of exdsArray.controls; let i=index" [formGroupName]="i">

      <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-link px-0 text-danger text-uppercase" (click)="deleteExd()">delete</button>
      </div>
      <div class="col-12 form-group">
        <at-calendar [date]="exd.get('from')"></at-calendar>
      </div>
      <div class="col-12 form-group">
        <at-calendar [date]="exd.get('to')"></at-calendar>
      </div>

      <div class="col-12 atc-exd-item">
        <at-bh [bhs]="exds[i].bhs" label="Open Hours"></at-bh>
      </div>
    </div>
  </div>
</form>
