@import 'src/assets/css/root.scss';

.atc-exd {
    @include ats-border('primary');
    padding: 6px;
    margin-bottom: 1rem; 
}

.atc-exd-item {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
