<div [formGroup]="formGroup">
  <div formArrayName="exds">
    <div class="row no-gutters" *ngFor="let exd of exds.controls; let i=index" [formGroupName]="i">
      <div class="col-12 d-flex justify-content-end"> 
        <button class="btn btn-link">delete</button>
      </div>
      <div class="col-12">
        <at-calendar [date]="exd.get('from')"></at-calendar>
      </div>
      <div class="col-12">
        <at-calendar [date]="exd.get('to')"></at-calendar>
      </div>
      <div class="col-12 atc-exd">
        <div class="atc-exd-item time flex-column">
          <span>Open Hours</span>
          <at-bh [bhs]="exclusiveDates[i].bhs"></at-bh>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="d-flex justify-content-center">
  <button class="btn btn-primary" (click)="addExd()">Add More Exclusive Dates</button>
</div>