<form [formGroup]="formGroup" novalidate>
  <at-card>
    <at-card-body>
      <div class="form-group">
        <input type="text" class="form-control" id="itemName" aria-describedby="itemName" placeholder="Enter item name" formControlName="name">
      </div>
      <div class="form-group position-relative">
        <input type="text" class="form-control" id="category" aria-describedby="category" placeholder="search category" formControlName="category">
        <div class="list-group position-absolute w-100">
          <a *ngFor="let c of categories" (click)="selectedCategory(c)" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{c.name}}</h5>
              <small>{{c.culture}}</small>
            </div>
            <p class="mb-1">{{c.description}}</p>
            <small>{{c.hint}}</small>
          </a>
        </div>
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="4" cols="50" placeholder="Describe your item here" formControlName="description"></textarea>
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-warning mr-2" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-outline-info btn-block" (click)="next()">Next</button>
      </div>
    </at-card-body>
  </at-card>
</form>
