@import './../root.scss';

.atc-card {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $default;
    padding: 0.75rem 0;
    height: 100%;
}

at-card.min-max {
    min-height: 25rem;
    max-height: 50rem;
}

at-card p {
    padding: 0;
    margin: 0;
}

at-card-header {
    display: block;
    max-height: 6rem;
    margin-bottom: 0.3125rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    @include ats-fs('primary');
}

at-card-body {
    height: auto;
    display: block;
    @include ats-fs('secondary');
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
