
@import "src/assets/css/overrides/custom.scss";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// color swatches
$default: white;

// font-size
$ats-fs-primary: 0.9rem;
$ats-fs-secondary: 0.875rem;
$ats-fs-accent: 1rem;

// border
$primary-border-color:rgba(0, 0, 0, 0.1);

@mixin ats-box-shadow($type: 'primary') {
    @if $type == 'primary' {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.04);
    }
}

@mixin ats-border($type: 'primary', $level: 0) {
    @if $type == 'primary' {
        border: 1px solid $primary-border-color;
        border-radius: 10px;
    }
}

@mixin ats-bg($type: 'primary', $level: 0) {
    @if $type == 'primary' { 
        background-color: theme-color(primary);
    }    
    @if $type == 'secondary' { 
        background-color: theme-color-level(secondary);
    }     
    @if $type == 'success' { 
        background-color: theme-color-level(success);
    }     
    @if $type == 'warning' { 
        background-color: theme-color-level(warning);
    }    
    @if $type == 'default' { 
        background-color: $default;
    }
}

@mixin ats-color($type: 'default', $level: 0) {

    @if $type == 'primary' { 
        color: theme-color-level(primary);
    }    
    @if $type == 'secondary' { 
        color: theme-color-level(secondary);
    }     
    @if $type == 'success' { 
        color: theme-color-level(success);
    }     
    @if $type == 'warning' { 
        color: theme-color-level(warning);
    }
    @if $type == 'default' { 
        color: $default;
    }
}

@mixin ats-fs($type: 'primary') {
    @if $type == 'primary' { 
        font-size: $ats-fs-primary;
    }     
    @if $type == 'secondary' { 
        font-size: $ats-fs-secondary;
    }     
    @if $type == 'accent' { 
        font-size: $ats-fs-accent;
        font-weight: bold;
    } 
}
