
@import "src/assets/css/overrides/custom.scss";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// // color pallete
// $primary:#3f51b5; // #b24242;
// $secondary:#007BC3; 
// $gray:rgba(0, 0, 0, 0.54);
$default: white;

// font-size
$primary-font-size: 0.9rem;
$secondary-font-size: 0.875rem;

// border
$primary-border-color:rgba(0, 0, 0, 0.1);

@mixin ats-box-shadow($type: 'primary') {
    @if $type == 'primary' {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.04);
    }
}

@mixin ats-border($type: 'primary', $level: 0) {
    @if $type == 'primary' {
        border: 1px solid $primary-border-color;
        border-radius: 10px;
    }
}

@mixin ats-background($type: 'primary', $level: 0) {
    @if $type == 'primary' { 
        background-color: theme-color(primary);
    }    
    @if $type == 'secondary' { 
        background-color: theme-color-level(secondary);
    }    
    @if $type == 'default' { 
        background-color: $default;
    }
}

@mixin ats-color($type: 'default', $level: 0) {

    @if $type == 'primary' { 
        color: theme-color-level(primary);
    }    
    @if $type == 'secondary' { 
        color: theme-color-level(secondary);
    } 
    @if $type == 'gray' { 
        color: theme-color-level(light);
    }
    @if $type == 'default' { 
        color: $default;
    }
}

@mixin ats-font-size($type: 'primary') {
    @if $type == 'primary' { 
        font-size: $primary-font-size;
    }     
    @if $type == 'secondary' { 
        font-size: $secondary-font-size;
    } 
}
