@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@import "root";

h1, h2, h3, h4, h5, h6, p, span, a, div, li, button, input, label {
    font-family: 'Roboto', sans-serif;
}

.atc-header {
    @include ats-background('primary');
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.atc-header-icons {
    font-size: 1.5rem;
    cursor: pointer; 
}

.atc-title {
    @include ats-color('secondary');   
}

.atc-gray {
    @include ats-color('gray');
}

.atc-icon {
    @include ats-color('secondary');   
    font-size: 1.5rem;
    cursor: pointer; 
}

.atc-icon.on:hover {
    color: #004085;
}

.atc-icon.off:hover {
    color: #991a1a;
}

.atc-img-sm {
    height: 2.5rem;
    width: auto;
    border-radius: 1.25rem;
}