@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

h1, h2, h3, h4, h5, h6, p, span, a, div, li, button, input, label {
    font-family: 'Roboto', sans-serif;
}

@import "root";

.atc-header {
    @include at-background(1);  
    @include at-color(0);    
}

.atc-title {
    @include at-color(2);   
}

.atc-dim-text {
    @include at-color(4);
}

.atc-icon {
    font-size: 1.5rem;
    cursor: pointer; 
}

.atc-icon.on:hover {
    color: #004085;
}

.atc-icon.off:hover {
    color: #991a1a;
}

.atc-small-img {
    height: 2.5rem;
    width: auto;
    border-radius: 1.25rem;
}

.atc-card-padding {
    padding: 8px!important;
}