
// bootstrap override
$theme-colors: (
  "primary": #843131
);


// non bootstrap
$default: white;

// font-size
$ats-fs-primary: 1rem;
$ats-fs-secondary: 1rem;
$ats-fs-dark: 1rem;

// border
$primary-border:rgba(0, 0, 0, 0.1);

