
// bootstrap override
$theme-colors: (
  "primary": #843131
);


// inhouse themes

$default: white;

// font-size
$ats-fs-primary: 0.9rem;
$ats-fs-secondary: 0.875rem;
$ats-fs-dark: 1rem;

// border
$primary-border:rgba(0, 0, 0, 0.1);

