<div class="text-right mb-1">
  <button class="btn btn-outline-info" (click)="add()">Add</button>
</div>
<div class="row no-gutters">
  <at-card class="col-12" *ngFor="let c of categories$|async">
    <at-card-header class="d-flex justify-content-between">
      <span class="atc-title">{{c.name}}</span>
      <span>
        <i class="fa fa-edit atc-icon" (click)="edit(c.id)"></i>
        <i class="fa fa-trash atc-icon" (click)="delete(c.id)"></i>
      </span>
    </at-card-header>
    <at-card-body>
      <span class="atc-dim-text">({{c.description}})</span>
    </at-card-body>
  </at-card>
</div>