<at-card class="atc-card">
    <at-card-body>
        <div class="row">
            <div class="col-12" *ngFor="let date of item.dates; let i=index;" (click)="editDate(i)">
                <span>{{date.from}}</span>
                <span>{{date.to}}</span>
            </div>
        </div>
    </at-card-body>
</at-card>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-warning" (click)="back()">Back</button>
    <button type="button" class="btn btn-outline-primary" (click)="next()">Next</button>
</div>