<div class="row no-gutters">
  <div class="col-12 mb-4" *ngFor="let date of item.dates; let i=index;">
    <at-card class="atc-dates pb-1">
      <at-card-header class="d-flex justify-content-center">
        <div>
          <i class="fa fa-trash atc-icon off" (click)="deleteDate(i)"></i>
          <span class="mx-1">{{date.from}}</span>
          <span class="mx-1">{{date.to}}</span>
          <i class="fa fa-edit atc-icon on" (click)="editDate(i)"></i>
        </div>
      </at-card-header>
      <at-card-body>

        <br>
        <label class="form-check-label" for="byWeekDays">
          By week days
        </label>
        <at-week-days [weekDays]="date?.weekDays"></at-week-days>

        <br>

        <label class="form-check-label" for="byDates">
          By exclusive dates
        </label>
        <at-exclusive-dates [exds]="date?.eds"></at-exclusive-dates>

      </at-card-body>

      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-warning mr-2" (click)="back()">Back</button>
        <button type="button" class="btn btn-outline-info" (click)="next()">Next</button>
      </div>

    </at-card>
  </div>
</div>

<div class="d-flex justify-content-center">
  <button class="btn btn-block btn-outline-primary mb-2" (click)="addDate()">Add More Business Date</button>
</div>

<br>