<form [formGroup]="formGroup" novalidate>
  <at-card>
    <at-card-body>
      <div class="row no-gutters">
        <div class="col">
          <div class="form-group">
            <input type="text" class="form-control" aria-describedby="stocks" placeholder="Available Stocks" formControlName="stocks">
          </div>
        </div>
        <div class="col col-auto d-flex align-items-center">
          <div class="form-group form-check ml-2">
            <input type="checkbox" class="form-check-input" formControlName="unlimited">
            <label class="form-check-label" for="unlimited">
              Unlimited
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" aria-describedby="pricePerStock" placeholder="Price per Stock" formControlName="pricePerStock">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" aria-describedby="noOfPeices" placeholder="Number of Pieces in Each Stock" formControlName="noOfPeices">
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-warning mr-2" (click)="back()">Back</button>
        <button type="button" class="btn btn-outline-primary" (click)="next()">Next</button>
      </div>
    </at-card-body>
  </at-card>
</form>
