<div class="atc-bh">
  <div class="row no-gutters" *ngFor="let bh of bhs; let i=index" #expand="var" var="0">
    <div class="col-12" *ngIf="expand.var==1">
      <div class="row no-gutters">
        <div class="col d-flex align-items-center mr-2">
          <at-hour [hhmm]="bh.from"></at-hour>
          <span style="font-size: 0.8rem">AM</span>
        </div>
        <div class="col d-flex align-items-center mr-2">
          <at-hour [hhmm]="bh.to"></at-hour>
          <span style="font-size: 0.8rem">AM</span>
        </div>

        <div class="col col-auto d-flex align-items-center">
          <i class="fa fa-check action on mr-3 " (click)="expand.var=0"></i>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex align-content-centerr" *ngIf="expand.var==0">
      <div class="d-flex align-items-center">

        <i class="fa fa-trash action off mr-3" (click)="deleteBh(i)"></i>

        <span>{{bh.from.h}}:{{bh.from.m}} AM</span>
        <span class="mx-1">--</span>
        <span>{{bh.to.h}}:{{bh.to.m}} AM</span>

        <i class="fa fa-edit action on ml-3" (click)="expand.var=1"></i>
      </div>

    </div>
  </div>
  <div class="d-flex justify-content-center">
    <i class="fa fa-plus action off mr-3" (click)="addBh()"></i>
  </div>
</div>